body {
  /* background: radial-gradient(circle, #5cb85c, #ffffff); */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  font-size: 4vw;
  position: absolute;
  left: 30px;
  top: 200px;
}

h2 {
  color: white;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  font-size: 2vw;
  position: absolute;
  left: 30px;
  top: 300px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 7vw;
    top: 10%;
  }

  h2 {
    font-size: 5vw;
    top: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 5vw;
    top: 10%;
  }

  h2 {
    font-size: 3vw;
    top: 25%;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4vw;
    top: 15%;
  }

  h2 {
    font-size: 2vw;
    top: 30%;
  }
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.img {
  position: relative;
  top: 325px;
  left: -600px
}

img:hover {
  cursor: pointer;
}